{% extends 'durbar_rider_panel/rider_base.html' %} 
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}


      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Collection List</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                              <th scope="col"> Order ID </th>
                              <th scope="col"> delevery Time </th>
                              <th scope="col"> Collection Ammount</th>
                              <th scope="col"> Delevered Address</th>
                              
                              
                          </tr>
                        </thead>
                        <tbody>
                              
                            {% for data in list %}
                                <tr>
                                    
                                    <td> {{data.order_info.order_id}}<br> </td>
                                    <td> {{data.delivery_time}}</td>
                                    <td> {{data.collection_amount}}</td>
                                    <td> {{data.order_info.address}}</td>
                                    
                                    
                                </tr>
                                
                            {% endfor %}       
                        </tbody>
                        
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
          
        </section>
        

    
<!--       
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#programming").change(function () {
    var url = $("#indexForm").attr("data-courses-url");  // get the url of the `load_courses` view
    var programmingId = $(this).val();  // get the selected programming ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/load-courses/)
      data: {
        'programming': programmingId       // add the programming id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_courses` view function
        $("#courses").html(data);  // replace the contents of the course input with the data that came from the server
      }
    });

  });
</script>
<script>
  $("#courses").change(function () {
    var url = $("#indexForm").attr("data-coursesx-url");  // get the url of the `load_courses` view
    var coursesId = $(this).val();  // get the selected programming ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/load-courses/)
      data: {
        'courses': coursesId       // add the programming id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_courses` view function
        $("#courses2").html(data);  // replace the contents of the course input with the data that came from the server
      }
    });

  });
</script> -->

      {% endblock %}