{% extends 'durbar_hub_panel/hub_base.html' %} 
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}


      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Collected List/Rider Assign</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                              <th scope="col"> Order ID </th>
                              <th scope="col"> Delevery Location </th>
                              <th scope="col"> Weight </th>
                              <th scope="col"> Collection Amount </th>
                              <th scope="col"> Rider Assign </th>
                              
                          </tr>
                        </thead>
                        <tbody>
                              
                            {% for list in data %}
                                <tr>
                                    
                                    <td> {{list.order_id}}<br> </td>
                                    <td> {{list.address}}<br> {{list.post_office_name}}, {{list.upazilla_name}}, {{list.district_name}}</td>
                                    <td> {{list.weight.delivery_charge_weight}}</td>
                                    {% if list.order_track == "6" %}
                                      <td> {{list.collection_amount}}</td>
                                    {% elif list.order_track == "14" %}
                                      <td> Return </td>
                                    {% endif %}
                                    <td> 
                                      <form method="POST">{% csrf_token %}
                                        <input type="text" value="{{list.id}}" name="order_id" hidden>
                                        {% if list.order_track == "6" %}
                                          <input type="text" value="{{list.collection_amount}}" name="collection_amount" hidden>
                                        {% elif list.order_track == "14" %}
                                          <input type="text" value="0" name="collection_amount" hidden>
                                          <input type="text" value="true" name="return_order" hidden>
                                        {% endif %}
                                          <div class="form-group">
                                          <div class="input-group">
                                            <select class="custom-select" name="rider" id="inputGroupSelect04">
                                              {% for rider_list in rider %}
                                                <option value="{{rider_list.id}}">{{rider_list.rider_name}} </option>
                                              {% endfor %}
                                              
                                            </select>
                                            <div class="input-group-append">
                                              <button class="btn btn-primary" type="submit">Assign</button>
                                            </div>
                                          </div>
                                        </div>
                                      </form>
                                    </td>
                                    
                                    
                                </tr>
                                
                            {% endfor %}       
                        </tbody>
                        
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
          
        </section>
        

    
<!--       
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#programming").change(function () {
    var url = $("#indexForm").attr("data-courses-url");  // get the url of the `load_courses` view
    var programmingId = $(this).val();  // get the selected programming ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/load-courses/)
      data: {
        'programming': programmingId       // add the programming id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_courses` view function
        $("#courses").html(data);  // replace the contents of the course input with the data that came from the server
      }
    });

  });
</script>
<script>
  $("#courses").change(function () {
    var url = $("#indexForm").attr("data-coursesx-url");  // get the url of the `load_courses` view
    var coursesId = $(this).val();  // get the selected programming ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/load-courses/)
      data: {
        'courses': coursesId       // add the programming id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_courses` view function
        $("#courses2").html(data);  // replace the contents of the course input with the data that came from the server
      }
    });

  });
</script> -->

      {% endblock %}