{% extends 'durbarapp/base.html' %} 
{% block title %} Durbar Courier: Largest Online Courier Marketplace in Bangladesh {% endblock %}
{% load staticfiles %}
{% block content %}

 
    <!-- Hero Section -->
    <section class="heroSection" style="background-image: url(/static/durbarapp/images/heroBg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="heroLeft">
                        <h1>Parcel Delivered <br> On Time with no Hassle</h1>
                        <p>Easily track your courier, Get courier within hours. Efficient & safe delivery.</p>
                        <a href="#" class="btnMerchant">BECOME A MERCHANT</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="heroRight">
                        <img src="/static/durbarapp/images/heroRight.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
                    <form class="trackingCode" action="#" method="post">
                        <p>TRACK YOUR CONSIGNMENT <small>Now you can easily track your consignment</small></p>
                        <div class="input-group flex-nowrap">
                            <input type="search" name="" class="form-control" placeholder="Enter your tracking code">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text" id="addon-wrapping">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->




    <!-- Service Section -->
    <section class="ourServices">
        <div class="container">
            <h3 class="sectionTitle">Our Services</h3>
        </div>
        <div class="container">
            <div class="row no-gutters">
            {% for service in services %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="singleItem">
                        <i class="{{service.service_icon}}"></i>
                        <h4 class="text">{{service.service_title}}</h4>
                    </a>
                </div>
            {% endfor %}
                
             
            </div>
        </div>
    </section>
    <!-- End Service Section -->




    <!-- We Are Best Section -->
    <section class="weAreBest">
        <div class="container">
            <h3 class="sectionTitle">why we are the best</h3>
        </div>
        <div class="container">
            <div class="row no-gutters">
            {% for whybest in best %}
                <div class="col-md-6">
                    <a href="#" class="singleItem">
                        <i class="{{whybest.icon}}"></i>
                        <h4 class="text">{{whybest.cause}}</h4>
                    </a>
                </div>
            {% endfor %}
                
                
            </div>
        </div>
    </section>
    <!-- End We Are Best Section -->





    <!-- Delivery Section -->
    <section class="deliveryCharge">
        <div class="container">
            <h3 class="sectionTitle">See your delivery charge</h3>
            <p>Take a look at how much it will cost to send a parcel.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills text-center" id="myTab" role="tablist">
                    {% comment %} {% regroup deliverycharge by delivery_charge_location as delivery_charge_location_list %}
                    {% for location in delivery_charge_location_list %}
                        <li class="nav-item">
                            <a class="nav-link active" id="1-tab" data-toggle="tab" href="#1" role="tab" aria-controls="1" aria-selected="true">{{location.grouper}}</a>
                        </li>
                    {% endfor %} {% endcomment %}
                    {% regroup deliverycharge by delivery_charge_location as delivery_charge_location_list %}
                    {% for location in delivery_charge_location_list %}
                    {% if forloop.first %}
                        <li class="nav-item">
                                <a class="nav-link active" id="insideCity-tab1" data-toggle="tab" href="#location_wise_charge_{{location.0.id}}" role="tab" aria-controls="insideCity" aria-selected="true">{{location.grouper}}</a>
                            </li>
                    {% else %}
                        <li class="nav-item">
                                <a class="nav-link " id="insideCity-tab1" data-toggle="tab" href="#location_wise_charge_{{location.0.id}}" role="tab" aria-controls="insideCity" aria-selected="true">{{location.grouper}}</a>
                            </li>
                    {% endif %}
                        
                        
                        {% comment %} {% if  forloop.counter == 1 %}
                            <li class="nav-item">
                                <a class="nav-link active" id="insideCity-tab1" data-toggle="tab" href="#insideCity" role="tab" aria-controls="insideCity" aria-selected="true">{{location.grouper}}</a>
                            </li>
                        {% endif %}
                        {% if  forloop.counter == 2 %}
                            <li class="nav-item">
                                <a class="nav-link" id="citySub-tab" data-toggle="tab" href="#citySub" role="tab" aria-controls="citySub" aria-selected="false">{{location.grouper}}</a>
                            </li>
                        {% endif %}
                        {% if  forloop.counter == 3 %}
                            <li class="nav-item">
                                <a class="nav-link" id="outSideCity-tab" data-toggle="tab" href="#outSideCity" role="tab" aria-controls="outSideCity" aria-selected="false">{{location.grouper}}</a>
                            </li>
                        {% endif %} {% endcomment %}
                    {% endfor %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                    
                    {% for location in delivery_charge_location_list  %}
                    {% if forloop.first %}
                        <div class="tab-pane fade show active" id="location_wise_charge_{{location.0.id}}" role="tabpanel" aria-labelledby="insideCity-tab">
                            <div class="row no-gutters">

                                {% for charge in location.list|slice:"4" %}
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="item">
                                            <p>{{charge.delivery_charge_weight}}</p>
                                            <h4>৳{{charge.cost}}+ {{charge.COD_persent}}% COD</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                

                            </div>
                        </div>
                    {% else %}
                          <div class="tab-pane fade show " id="location_wise_charge_{{location.0.id}}" role="tabpanel" aria-labelledby="insideCity-tab">
                            <div class="row no-gutters">

                                {% for charge in location.list|slice:"4" %}
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="item">
                                            <p>{{charge.delivery_charge_weight}}</p>
                                            <h4>৳{{charge.cost}}+ {{charge.COD_persent}}% COD</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                

                            </div>
                        </div>
                    {% endif %}
                  
                    {% comment %} {% if  forloop.counter == 1 %}
                        <div class="tab-pane fade show active" id="insideCity" role="tabpanel" aria-labelledby="insideCity-tab">
                            <div class="row no-gutters">

                                {% for charge in location.list %}
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="item">
                                            <p>{{charge.delivery_charge_weight}}</p>
                                            <h4>৳{{charge.cost}}+ {{charge.COD_persent}}% COD</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                

                            </div>
                        </div>
                        {% endif %}
                        {% if  forloop.counter == 2 %}
                        <div class="tab-pane fade" id="citySub" role="tabpane2" aria-labelledby="citySub-tab">
                            <div class="row no-gutters">

                                {% for charge in location.list %}
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="item">
                                            <p>{{charge.delivery_charge_weight}}</p>
                                            <h4>৳{{charge.cost}}+ {{charge.COD_persent}}% COD</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                

                            </div>
                        </div>
                        {% endif %}
                        {% if  forloop.counter == 3 %}
                        <div class="tab-pane fade" id="outSideCity" role="tabpane2" aria-labelledby="outSideCity-tab">
                            <div class="row no-gutters">

                               {% for charge in location.list %}
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="item">
                                            <p>{{charge.delivery_charge_weight}}</p>
                                            <h4>৳{{charge.cost}}+ {{charge.COD_persent}}% COD</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                        {% endif %} {% endcomment %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="mt-3 mb-0">For Enterprise pricing, contact our agents for instant price estimate</p>
                    <a href="#" class="btn btn-danger btn-lg mt-2">Get price estimate</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Delivery Section -->





    <!-- Testimonial Section -->
    <section class="testimonailSection">
        <div class="container">
            <h3 class="sectionTitle">Clients Love</h3>
        </div>
        <div class="container">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="singleItem">
                        <div class="quote">
                            <i class="fas fa-quote-left"></i>
                            <p>We are very satisfied with the speed of the delivery inside Dhaka. The tracking system is great and helps us promptly answer queries from customers.</p>
                        </div>
                        <div class="authorText">
                            <img src="/static/durbarapp/images/user.jpg" alt="">
                            <div class="imgText">
                                <h4>Sadik Hasan</h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="singleItem">
                        <div class="quote">
                            <i class="fas fa-quote-left"></i>
                            <p>We are very satisfied with the speed of the delivery inside Dhaka. The tracking system is great and helps us promptly answer queries from customers.</p>
                        </div>
                        <div class="authorText">
                            <img src="/static/durbarapp/images/user.jpg" alt="">
                            <div class="imgText">
                                <h4>Sadik Hasan</h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="singleItem">
                        <div class="quote">
                            <i class="fas fa-quote-left"></i>
                            <p>We are very satisfied with the speed of the delivery inside Dhaka. The tracking system is great and helps us promptly answer queries from customers.</p>
                        </div>
                        <div class="authorText">
                            <img src="/static/durbarapp/images/user.jpg" alt="">
                            <div class="imgText">
                                <h4>Sadik Hasan</h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="singleItem">
                        <div class="quote">
                            <i class="fas fa-quote-left"></i>
                            <p>We are very satisfied with the speed of the delivery inside Dhaka. The tracking system is great and helps us promptly answer queries from customers.</p>
                        </div>
                        <div class="authorText">
                            <img src="/static/durbarapp/images/user.jpg" alt="">
                            <div class="imgText">
                                <h4>Sadik Hasan</h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="singleItem">
                        <div class="quote">
                            <i class="fas fa-quote-left"></i>
                            <p>We are very satisfied with the speed of the delivery inside Dhaka. The tracking system is great and helps us promptly answer queries from customers.</p>
                        </div>
                        <div class="authorText">
                            <img src="/static/durbarapp/images/user.jpg" alt="">
                            <div class="imgText">
                                <h4>Sadik Hasan</h4>
                                <p>Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Section -->


{% endblock %}