{% extends 'durbarapp/base.html' %} 
{% block title %} Register {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %} 

 <style>
   .loginForm{
     margin-top: 50px;
     background:#f2f2f2;
     margin-bottom: 30px;
     padding: 30px;
   }
   .customer_registration_field{width:48%;float:left;margin-right:2%;}
 </style>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="loginForm">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
          <!-- <div class="mb-3 customer_registration_field">
            <input type="text" name="marchant_name" class="form-control" id="loginFullName" placeholder="Full Name">
          </div>
          <div class="mb-3 customer_registration_field">
            <input type="email" name="email" class="form-control" id="loginEmail" placeholder="Email Address">
          </div>
          <div class="mb-3 customer_registration_field">
            <input type="number" name="contact_no1" class="form-control" id="loginphone" placeholder="Primary Phone Number">
          </div>
          <div class="mb-3 customer_registration_field">
            <input type="number" name="contact_no2" class="form-control" id="loginphone" placeholder="Secondary Phone Number">
          </div>
          <div class="mb-3 customer_registration_field">
            <input type="password" name="password" class="form-control" id="loginPass" placeholder="Password">
          </div>
          <div class="mb-3 customer_registration_field">
            <input type="text" name="address" class="form-control" id="address" placeholder="Address">
          </div> -->
          <div class="mb-3 customer_registration_field">
            <label>District Name</label>
            <select name="district_name" id="district_name" class="form-control">
              {% for dist in district_list %}
                  <option value="{{dist.pk}}">{{dist.district_name_bangla}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3 customer_registration_field">
            <label for="name">Upazilla Name </label>
            <select name="upazilla_name" class="form-control">
              {% for scat in Upazilla|upazillareg %}
                <option value="{{scat.pk}}">{{scat.upazilla_name_bangla}}</option>
              {% endfor %}
            </select>
          </div>
          <!-- <div class="mb-3 customer_registration_field">
            <input type="file" name="logo" class="form-control" id="logo" placeholder="Logo">
          </div>
          <div class="mb-3 customer_registration_field">
            <input type="password" name="password" class="form-control" id="loginPass" placeholder="Password">
          </div>
          <div class="mb-3 customer_registration_field form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember password</label>
          </div> -->
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
 


<script src="{% static 'durbarapp/js/jquery.js' %}"></script>

<script>
    $('#district_name').change(function(){ 
      var district_id = $('#district_name').val(); 
      var url = "/bindupozilla/"; 
      $.ajax({
        url: url,
        type: 'get',
        date :{
          'district_id':district_id,
        },
        success : function (data) {
          alert(data);
        }
      });
  });
</script>


{% endblock %}