{% extends 'durbarapp/base.html' %} 
{% block title %} Login  {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %} 
    <div class="loginWrapper">
        <div>
            <div class="loginText">
                <h4>Register</h4>
                <div class="brandLogin">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                </div>
            </div>
            <div class="orLogin">
                <p>Or Be Classical</p>
            </div>
            <div class="loginForm">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                      <input type="text" name="marchant_name" class="form-control" id="loginFullName" placeholder="Full Name">
                    </div>
                    <div class="mb-3">
                      <input type="email" name="email" class="form-control" id="loginEmail" placeholder="Email Address">
                    </div>
                    <div class="mb-3">
                      <input type="number" name="contact_no1" class="form-control" id="loginphone" placeholder="Primary Phone Number">
                    </div>
                    <div class="mb-3">
                      <input type="number" name="contact_no2" class="form-control" id="loginphone" placeholder="Secondary Phone Number">
                    </div>
                    <div class="mb-3">
                      <input type="password" name="password" class="form-control" id="loginPass" placeholder="Password">
                    </div>
                    <div class="mb-3">
                      <input type="text" name="address" class="form-control" id="address" placeholder="Address">
                    </div>
                    <div class="mb-3">
                      <label for="name">District Name<span class="form-control">*</span></label>
                      <select name="district_name">
                                    {% for cat in District|districtreg %}
                                        <option value="{{ cat.id }}" >{{cat.district_name_bangla}}</option>
                                    {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="name">Upazilla Name<span class="form-control">*</span></label>
                      <select name="upazilla_name">
                                    {% for scat in Upazilla|upazillareg %}
                                        <option value="{{ scat.id }}" >{{scat.upazilla_name_bangla}}</option>
                                    {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <input type="file" name="logo" class="form-control" id="logo" placeholder="Logo">
                    </div>
                    <div class="mb-3">
                      <input type="password" name="password" class="form-control" id="loginPass" placeholder="Password">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Remember password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>
            </div>
        </div>
    </div>
{% endblock %}