{% extends 'merchant_dashboard/dash_base.html' %}
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}
<div class="pageTitle">
    <h3>  Order Tracking </h3>
</div>
<div class="pageMainWrapper">
    <div class="container-fluid mb-4">
        <div class="card orderList">
            <div class="card-body">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex officiis laboriosam, illo veritatis voluptatem ducimus eveniet accusantium voluptas, distinctio rerum natus porro hic? Recusandae nobis rem quaerat et eos odit facilis, quos nesciunt. Iure velit similique odit doloremque facilis! Id recusandae obcaecati assumenda eius laborum ut maxime ullam, dignissimos repellat, praesentium ipsum perferendis sequi officia magni sapiente est eum itaque rerum necessitatibus voluptates aut tempora iusto. Officiis quisquam blanditiis nesciunt perferendis laborum recusandae vitae alias suscipit odio id optio praesentium nisi eaque itaque doloremque, architecto sequi voluptatem porro. Ex temporibus, asperiores in voluptas commodi obcaecati ratione esse cum molestiae.

            </div>
        </div>
    </div>
 
    {% endblock %}