{% extends 'merchant_dashboard_v2/base.html' %} 
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}


      <div class="main-content">
        <section class="section">
          <div class="section-body">
            
            
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="card-header">
                    <h4>New Order</h4>
                  </div>
                  <div class="card-body">
                    <!-- <form  method="POST" id="wizard_with_validation"   data-courses-url="{% url 'ajax_load_upazilla' %}" data-coursesx-url="{% url 'ajax_load_post' %}" data-coursesa-url="{% url 'ajax_load_weight' %}" data-coursesb-url="{% url 'ajax_load_cost' %}" class="addOrder">{% csrf_token %} -->
                    <form  method="POST" id="wizard_with_validation">{% csrf_token %}
                      <h3 >কাস্টমারের তথ্য</h3>
                      
                      
                      <fieldset>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="cName" class="form-label">কাস্টমারের নাম</label>
                            <input type="text" class="form-control" id="cName" name="customer_name" required>
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="cMobile" class="form-label">মোবাইল নম্বর</label>
                            <input type="number" class="form-control" id="cMobile" name="contact_no1">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="altCustomerNumber" class="form-label">বিকল্প মোবাইল নম্বর</label>
                            <input type="number" class="form-control" id="altCustomerNumber" name="contact_no2">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label>জেলা নির্বাচন করুন</label>
                                    <select id="DistrictId" class="form-control" name="district_name">
                                    <option value="">---Select District---</option>
                                        {% for i in District|districtreg %}
                                            <option value="{{i.id}}">{{i.district_name_english}}</option>
                                        {% endfor %}
                                    </select>
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="insDistrict" class="form-label"> থানা নির্বাচন করুন </label>
                              <select id="courses" class="form-control" name="upazilla_name">
                                  
                              </select>
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="insDistrict" class="form-label"> পোস্ট-অফিস নির্বাচন করুন </label>
                                    <select id="courses2" class="form-control" name="post_office_name">
                                        
                                        
                                    </select>
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="address" class="form-label">বিস্তারিত ঠিকানা (বাড়ি/রোড/গ্রাম/হোল্ডিং)</label>
                            <textarea class="form-control" id="address" rows="1" name="address"></textarea>
                          </div>
                        </div>
                      </fieldset>



                      <h3>প্যাকেজ ও কালেকশনের তথ্য </h3>
                      <fieldset>
                        
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="refNumber" class="form-label">নিজস্ব রেফারেন্স নম্বর / ইনভয়েস</label>
                            <input type="text" class="form-control" id="refNumber" name="reference_no">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="accuratePrice" class="form-label">কালেকশন অ্যামাউন্ট</label>
                            <input type="text" class="form-control" id="collection_amount" name="collection_amount">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="accuratePrice" class="form-label">অ্যাকচুয়াল প্যাকেজ প্রাইস</label>
                            <input type="text" class="form-control" id="accuratePrice" name="actual_package_price">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="accuratePrice" class="form-label">প্যাকজের ধরন</label>
                              <select id="locationCollection" class="form-control" name="packegeType">
                                  {% for point in packagetype|package %}
                                      <option value="{{ point.id }}">{{point.packege_name}}</option>
                                  {% endfor %}
                                  
                              </select>
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="locationCollection" class="form-label">কালেকশন লোকেশন</label>
                              <select id="locationCollection" class="form-control" name="collection_point">
                              {% for point in collection_point|point %}
                                  <option value="{{ point.id }}">{{point.collection_point_name_english}}</option>
                              {% endfor %}
                              
                              </select>
                          </div>
                          
                        </div>
                        <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group form-float">
                          <div class="form-line">
                            <label for="weight" class="form-label">ওজন (কেজি)</label>
                                <select id="weight" class="form-control" name="weight">
                                
                                  
                                </select>
                          </div>
                          
                        </div>
                        
                        <div class="form-group form-float">
                          <div class="form-line">
                            <span> প্রোডাক্ট কবে কালেকশন হবে </span>
                            <input class="form-control" value="{%now 'Y-m-d'%}" type="date" id="formFile" placeholder="তারিখ নির্বাচন করুন" name="collection_date">
                          </div>
                          
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <span> কখন কালেকশন হবে </span>
                              <select id="locationCollection" class="form-control" name="collection_time_category">
                                  {% for point in collection_time|collection %}
                                      <option value="{{ point.id }}">{{point.time}}</option>
                                  {% endfor %}
                                  
                                  </select>
                          </div>
                          
                        </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                          <label  for="weightKG" class="form-label">সার্ভিসের চার্জ</label>
                            <table>
                                <tr>
                                    <th style="width:180px">শিপমেন্ট চার্জ---</th>
                                    <td><input style="width:127px;text-align:right" class="form-control" id="shipment_charge" name="shipment_charge" type="text"  readonly=""></td>
                                </tr>
                                <tr>
                                    <th style="width:180px">COD চার্জ(1%)---</th>
                                    <td><input style="width:127px;text-align:right" class="form-control" id="cod_charge" name="cod_charge" type="text"  readonly=""></td>
                                </tr>
                                <tr>
                                    <th style="width:180px">ভঙ্গুর আইটেমের চার্জ---</th>
                                    <td><input style="width:127px;text-align:right" class="form-control" id="lequed_or_Fragile_charge" name="lequed_or_Fragile_charge" type="text"  readonly=""></td>
                                </tr>
                                <tr>
                                    <th style="width:180px">মোট সার্ভিস চার্জ---</th>
                                    <td><input style="width:127px;text-align:right" class="form-control" id="total_service_charge" name="total_service_charge" type="text"  readonly=""></td>
                                </tr>
                            </table>
                          
                        </div>
                      </div>
                      </fieldset>



                      <h3>এডিশনাল তথ্য</h3>
                      <fieldset>
                        <label for="addtional_note" class="form-label">এডিশনাল নোট (অপশনাল)</label>
                        <textarea class="form-control" id="additionalNote" rows="3" name="addtional_note"></textarea>
                        
                      </fieldset>

                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>




        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
          $("#DistrictId").change(function(){
            alert("Ok");
          })
        </script>
        <script>
         function check_uncheck_class(isChecked){
            if(isChecked) {
                  this.checked = true; 
                  var brokenProduct = 100;
                  $("#lequed_or_Fragile_charge").val(brokenProduct);                      
              }
              else {
                      this.checked = false;
                      var brokenProduct = 0;
                      $("#lequed_or_Fragile_charge").val(' ');                           
              }
         }
      
         function delivery_and_amount_collection(isChecked){
            if(isChecked) {
                  this.checked = true; 
                  var amount = 10;
                  var collection_amount = $("#collection_amount").val();
                  if(collection_amount >= 1000 ){
                      var amount = Math.round((collection_amount*1)/100)
                  }
                  $("#cod_charge").val(amount)
      
              }
           
         }
      
         function delivery(isChecked){
            if(isChecked) {
                  this.checked = true; 
                  $("#cod_charge").val(' '); 
                  
      
              } 
         }
      
        </script>
      <script>
          $(document).ready(function(){
              $("#weight").change(function(){
          
              var shipment_charge = $("#shipment_charge").val();
              var total_service_charge =  parseInt(shipment_charge);
              alert(shipment_charge);
              $("#total_service_charge").val(total_service_charge);
          });
          });
          
          $("#shipment_charge","#cod_charge","#lequed_or_Fragile_charge").keypress(function(){
              
              var shipment_charge = $("#shipment_charge").val();
              var cod_charge = $("#cod_charge").val();
              var lequed_or_Fragile_charge = $("#lequed_or_Fragile_charge").val();
              var total_service_charge =  parseInt(shipment_charge)+parseInt(cod_charge)+parseInt(lequed_or_Fragile_charge);
              alert(shipment_charge)
              $("#total_service_charge").val(total_service_charge);
          });
          $("#shipment_charge","#cod_charge","#lequed_or_Fragile_charge").keypress(function(){
              
              var shipment_charge = $("#shipment_charge").val();
              var cod_charge = $("#cod_charge").val();
              var lequed_or_Fragile_charge = $("#lequed_or_Fragile_charge").val();
              var total_service_charge =  parseInt(shipment_charge)+parseInt(cod_charge)+parseInt(lequed_or_Fragile_charge);
              alert(shipment_charge)
              $("#total_service_charge").val(total_service_charge);
          });
      </script>
      
        
        <script>
          $("#courses").change(function () {
            var url = $("#formindex").attr("data-coursesx-url");  // get the url of the `load_courses` view
            var coursesId = $(this).val();  // get the selected programming ID from the HTML input
      
            $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= localhost:8000/load-courses/)
              data: {
                'courses': coursesId       // add the programming id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_courses` view function
                $("#courses2").html(data);  // replace the contents of the course input with the data that came from the server
              }
            });
      
          });
        </script>
      
      
        <script>
          $("#locationCollection").change(function () {
            var url = $(".formindex").attr("data-coursesa-url");  // get the url of the `load_courses` view
            var locationCollectionId = $(this).val();  // get the selected programming ID from the HTML input
          
            $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= localhost:8000/load-courses/)
              data: {
                'locationCollection': locationCollectionId       // add the programming id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_courses` view function
                $("#weight").html(data);  // replace the contents of the course input with the data that came from the server
                  
              }
      
            });
      
          });
        </script>
      
      
        <script>
          $("#weight").change(function () {
            var url = $("#wizard_with_validation").attr("data-coursesb-url");  // get the url of the `load_courses` view
            var weightId = $(this).val();  // get the selected programming ID from the HTML input
            var areaId = $('#locationCollection').val();
      
            $.ajax({                       // initialize an AJAX request
              url: url,                    // set the url of the request (= localhost:8000/load-courses/)
              data: {
                'areaId': areaId,      // add the programming id to the GET parameters
                'weight': weightId,      // add the programming id to the GET parameters
      
              },
              success: function (data) {   // `data` is the return of the `load_courses` view function
                $("#shipment_charge").val(data[0]['shipment_charge']); 
                alart(data) // replace the contents of the course input with the data that came from the server
                  
              }
      
            });
      
          });
        </script>
      
      
      <script type="text/javascript">
                  $(document).ready(function() {
                  $("input[type=radio]").prop("checked", false);
                  $("input[type=radio]:first").prop("checked", false);
      
                  $("input[type=radio]").click(function(event) {
                      $("input[type=radio]").prop("checked", false);
                      $(this).prop("checked", true);
      
                      //event.preventDefault();
                  });
                  });
        </script>



{% endblock %}