{% extends 'durbar_admin_panel/admin_base.html' %}
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}
<style>
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #4967f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
  }
</style>
<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <form action="#" method="POST" class="addOrder" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">

          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4> Add Rider</h4>
              </div>
              <div class="card-body">


                <label for="cName" class="form-label">Rider name</label>
                <input type="text" value="{{main_data.rider_name}}" class="form-control" id="cName" name="rider_name"
                  required>


                <label for="cMobile" class="form-label">Phone No</label>
                <input type="number" value="{{main_data.contact_no1}}" class="form-control" name="contact_no1" required>


                <label for="altCustomerNumber" class="form-label">Alt. Phone No</label>
                <input type="number" value="{{main_data.contact_no2}}" class="form-control" id="altCustomerNumber"
                  name="contact_no2">


                <label for="altCustomerNumber" class="form-label">Rider NID</label>
                <input type="text" value="{{main_data.nid}}" class="form-control" name="nid">


                <label for="altCustomerNumber" class="form-label">Email</label>
                <input type="email" value="{{main_data.email}}" class="form-control" name="email">


                <label for="altCustomerNumber" class="form-label">Password</label>
                <input type="text" class="form-control" value="{{main_data.password}}" id="altCustomerNumber"
                  name="password" required>




                <label for="insDistrict" class="form-label">District </label>
                <input type="text" value="{{main_data.upazilla_name.id}}" id="get_up_id" hidden>
                <input type="text" value="{{main_data.hub.id}}" id="get_hub_id" hidden>
               
                <select id="district" class="form-control district_id" name="district_name" required>
                  <option value="">---Select District---</option>
                  {% for i in District|districtreg %}
                    {% if i.pk == main_data.district_name_id %}
                      <option value="{{i.id}}" selected>{{i.district_name_english}}</option>
                    {% else %}
                      <option value="{{i.id}}">{{i.district_name_english}}</option>
                    {% endif %}
                  {% endfor %}
                </select>


                <label for="insDistrict" class="form-label"> Upazilla </label>
                <select id="upozilla_id" class="form-control" name="upazilla_name" required>

                </select>






                <label for="address" class="form-label">Present Address</label>
                <textarea class="form-control" id="address" rows="1" name="present_address"
                  required>{{main_data.present_address}}</textarea>


                <label for="address" class="form-label">Permanent Address</label>
                <textarea class="form-control" id="address" rows="1" name="permanent_address"
                  required>{{main_data.permanent_address}}</textarea>

                <div class="form-group">
                  <label>Select Hub</label>
                  <select id="hub" class="form-control" name="hub">


                  </select>
                </div>
                <div class="img_box">
                  <img id="prev_image_load1"
                    style="width: 80px;height: 90px;border: 1px solid black;display: block;margin-bottom: 10px;"
                    src="/static/durbarapp/media/{{main_data.rider_image}}" alt="Preview Image" />
                </div>

                <label for="address" class="form-label">Rider Image</label>

                <input type="file" id="prev_image" class="form-control"
                  value="/static/durbarapp/media/{{main_data.rider_image}}" name="owner_image">

                <label for="address" class="form-label">Rider NID Image</label>
                <input type="file" class="form-control" name="owner_nid_image">


              </div>

            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4> Account Info.</h4>
              </div>
              <div class="card-body">



                <label for="refNumber" class="form-label">Bank Name</label>
                <input type="text" class="form-control" id="refNumber" name="bank_name">


                <label for="accuratePrice" class="form-label">Bank AC NO</label>
                <input type="text" class="form-control" id="collection_amount" name="bank_ac_no">


                <label for="accuratePrice" class="form-label">Bank Branch Name</label>
                <input type="text" class="form-control" id="collection_amount" name="bank_branch_name">


                <label for="accuratePrice" class="form-label">Mobile Banking No</label>
                <input type="text" class="form-control" id="collection_amount" name="mobile_banking_no">


                <label for="insDistrict" class="form-label">Mobile Bnaking Category</label>
                <select class="form-control" name="mobile_banking_category" required>
                  <option value="">---Select Bank---</option>
                  {% for i in mobile_banking|category %}

                  <option value="{{i.id}}" selected>{{i.bank_name}}</option>

                  {% endfor %}
                </select>


                <label for="accuratePrice" class="form-label">Referral Name</label>
                <input type="text" class="form-control" id="collection_amount" name="referral_name">
                <label for="accuratePrice" class="form-label">Referral Phone No</label>
                <input type="text" class="form-control" id="collection_amount" name="referral_phone_no">
                <label for="accuratePrice" class="form-label">Referral NID</label>
                <input type="text" class="form-control" id="collection_amount" name="referral_NID">
                <label for="accuratePrice" class="form-label">Referral Relation</label>
                <input type="text" class="form-control" id="collection_amount" name="referral_relation">
 
                <div class="card-footer text-right">
                  <button class="btn btn-warning mr-1" type="submit">Add Rider</button>

                </div>
 
              </div>
            </div>

 
          </div>
        </div>
      </form>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $(document).ready(function () {
      var district_id = $("#district").val(); 
      var get_up_id = $("#get_up_id").val(); 
           
      $.ajax({                        
        url: "/update-upazilla/",              
        data: {
          'district_id': district_id,            
          'get_up_id': get_up_id,            
        },
        success: function (data) {    
          $("#upozilla_id").html(data); 
        }
      });

    })
  </script>

  <script>
    $("#district").change(function () {
      
      var district_id = $("#district").val();  
      
      $.ajax({                       
        url: '/update-upazilla/',                   
        data: {
          'district_id': district_id       
        },
        success: function (data) {   
          $("#upozilla_id").html(data);  
        }
      });

    });
  </script> 
  
  
  <script>
    $(document).ready(function () {
      var upozilla_id = $("#get_up_id").val();  
      var hub_id = $("#get_hub_id").val();  
        
      $.ajax({                        
        url: "/update-hub/",              
        data: {
          'upozilla_id': upozilla_id,                        
          'hub_id': hub_id,                        
        },
        success: function (data) {    
          $("#hub").html(data); 
        }
      });

    })
  </script>

  <!-- <script>
    $("#district").change(function () {
      
      var district_id = $("#district").val();  
      
      $.ajax({                       
        url: '/update-upazilla/',                   
        data: {
          'district_id': district_id       
        },
        success: function (data) {   
          $("#upozilla_id").html(data);  
        }
      });

    });
  </script>                -->

  {% endblock %}