{% extends 'merchant_dashboard/dash_base.html' %} 
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% block content %}



            <!-- Page title -->
            <div class="pageTitle">
                <h3>ড্যাশবোর্ড</h3>
                <div class="customBreadcumb">
                    <a class="active">ড্যাশবোর্ড</a>
                </div>
            </div>
            <div class="pageMainWrapper">
            <!-- ----------------------------------------------------- -->
            <!-- ----------- Main content start from here ------------ -->
            <!-- ----------------------------------------------------- -->
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3  mb-5">
                        <div class="dasCard">
                            <div>
                                <div class="icon"><ion-icon name="logo-twitter"></ion-icon></div>
                                <div class="text">
                                    <p>Folowers</p>
                                    <h4>+245</h4>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="link">
                                <a href="#">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3  mb-5">
                        <div class="dasCard">
                            <div>
                                <div class="icon"><ion-icon name="logo-twitter"></ion-icon></div>
                                <div class="text">
                                    <p>Folowers</p>
                                    <h4>+245</h4>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="link">
                                <a href="#">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3  mb-5">
                        <div class="dasCard">
                            <div>
                                <div class="icon"><ion-icon name="logo-twitter"></ion-icon></div>
                                <div class="text">
                                    <p>Folowers</p>
                                    <h4>+245</h4>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="link">
                                <a href="#">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="dasCard">
                            <div>
                                <div class="icon"><ion-icon name="logo-twitter"></ion-icon></div>
                                <div class="text">
                                    <p>Folowers</p>
                                    <h4>+245</h4>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="link">
                                <a href="#">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}