{% extends 'merchant_dashboard/dash_base.html' %} 
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}

            <!-- Page title -->
            <div class="pageTitle">
                <h3>নতুন অর্ডার</h3>
                <div class="customBreadcumb">
                    <a href="index.html">ড্যাশবোর্ড</a> /
                    <a class="active">নতুন অর্ডার</a>
                </div>
            </div>
            <div class="pageMainWrapper">
            <!-- ----------------------------------------------------- -->
            <!-- ----------- Main content start from here ------------ -->
            <!-- ----------------------------------------------------- -->
            <div class="container-fluid mb-4">
                <form action="#" method="POST"  id="indexForm" data-courses-url="{% url 'ajax_load_upazilla' %}" data-coursesx-url="{% url 'ajax_load_post' %}" class="addOrder">{% csrf_token %}
                    <div class="card">
                        <div class="card-header"> <h4 class="orderTitle">কাস্টমারের তথ্য</h4> </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-4 mb-3">
                                    <label for="cName" class="form-label">কাস্টমারের নাম</label>
                                    <input type="text" class="form-control" id="cName" name="customer_name">
                                </div>
                                <div class="col-sm-12 col-md-4 mb-3">
                                    <label for="cMobile" class="form-label">মোবাইল নম্বর</label>
                                    <input type="number" class="form-control" id="cMobile" name="contact_no1">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="altCustomerNumber" class="form-label">বিকল্প মোবাইল নম্বর</label>
                                    <input type="number" class="form-control" id="altCustomerNumber" name="contact_no2">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-4 mb-3">
                                    <label for="insDistrict" class="form-label">জেলা নির্বাচন করুন</label>
                                    <select id="programming" class="form-select" name="district_name">
                                    <option value="">---Select District---</option>
                                        {% for i in District|districtreg %}
                                            <option value="{{i.id}}">{{i.district_name_english}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4 mb-3">
                                    <label for="insDistrict" class="form-label"> থানা নির্বাচন করুন </label>
                                    <select id="courses" class="form-select" name="upazilla_name">
                                        
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="insDistrict" class="form-label"> পোস্ট-অফিস নির্বাচন করুন </label>
                                    <select id="courses2" class="form-select" name="post_office_name">
                                        
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="address" class="form-label">বিস্তারিত ঠিকানা (বাড়ি/রোড/গ্রাম/হোল্ডিং)</label>
                                    <textarea class="form-control" id="address" rows="1" name="address"></textarea>
                                </div>
                            </div>





                            <h4 class="orderTitle mt-5"> প্যাকেজ ও কালেকশনের তথ্য </h4>
                            <div class="row my-3">
                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="refNumber" class="form-label">নিজস্ব রেফারেন্স নম্বর / ইনভয়েস</label>
                                    <input type="text" class="form-control" id="refNumber" name="reference_no">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="accuratePrice" class="form-label">অ্যাকচুয়াল প্যাকেজ প্রাইস</label>
                                    <input type="text" class="form-control" id="accuratePrice" name="actual_package_price">
                                </div>
                            </div>
                            <div class="productCollection mb-3" style="padding-bottom: 3px;" name="">
                                <div class="row mb-3">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="onlyDelivery" name="only_delivery" value="True">
                                            <label class="form-check-label" for="onlyDelivery"> শুধু ডেলিভারি </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"  id="deliveryMoney" name="delivery_and_amount_collection" value="True">
                                            <label class="form-check-label" for="deliveryMoney"> ডেলিভারি + টাকা কালেকশন </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"  id="brokenProduct" name="lequed_or_Fragile" value="True">
                                            <label class="form-check-label" for="brokenProduct"> ভঙ্গুর/তরল প্রোডাক্ট </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label for="locationCollection" class="form-label">কালেকশন লোকেশন</label>
                                            <select id="locationCollection" class="form-select" name="collection_point">
                                            {% for point in collection_point|point %}
                                                <option value="{{ point.id }}">{{point.collection_point_name_english}}</option>
                                            {% endfor %}
                                            
                                            </select>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label for="weightKG" class="form-label">ওজন (কেজি)</label>
                                            <select id="weightKG" class="form-select" name="weight">
                                            {% for weight in delivery_charge|charge %}
                                                <option value="{{ weight.id }}">{{weight.delivery_charge_weight.weight}}</option>
                                            {% endfor %}
                                              
                                            </select>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="productCollection">
                                <div class="row">
                                    
                                    {% comment %} <div class="col-sm-12 col-md-4">
                                        <button> আজ </button>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <button> কাল </button>
                                    </div> {% endcomment %}
                                    <div class="col-sm-4 ">
                                        <span> প্রোডাক্ট কবে কালেকশন হবে </span>
                                        <input class="form-control" type="date" id="formFile" placeholder="তারিখ নির্বাচন করুন" name="collection_date">
                                    </div>
                                     
                                    <div class="col-sm-4 col-md-4">
                                    <span> কখন কালেকশন হবে </span>
                                        <div class="form-redio">
                                            
                                            <input class="form-control" type="time" name="collection_time" id="morning1">
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="addtional_note" class="form-label">এডিশনাল নোট (অপশনাল)</label>
                                    <textarea class="form-control" id="additionalNote" rows="3" name="addtional_note"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" name="" required>
                                        <label class="form-check-label" for="invalidCheck"> আমি শর্তাবলী মেনে নিলাম </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button class="orderDin" type="submit"> অর্ডার দিন </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#programming").change(function () {
      var url = $("#indexForm").attr("data-courses-url");  // get the url of the `load_courses` view
      var programmingId = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'programming': programmingId       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#courses").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#courses").change(function () {
      var url = $("#indexForm").attr("data-coursesx-url");  // get the url of the `load_courses` view
      var coursesId = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'courses': coursesId       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#courses2").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>


{% endblock %}