<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> নতুন অর্ডার </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    
</head>
<body>
    
    <div class="mainWrapper">
        <!-- Start sidebar -->
        <nav>
            <ul>
                <!-- Start brand name -->
                <li class="brandName">
                    <a href="index.html">
                        <span class="navIcon"><ion-icon name="person-sharp"></ion-icon></span>
                        <span class="navTitle">সাদিক</span>
                    </a>
                </li>
                <!-- End brand name -->

                <li>
                    <a href="index.html">
                        <span class="navIcon"><ion-icon name="grid-sharp"></ion-icon></span>
                        <span class="navTitle"> ড্যাশবোর্ড </span>
                    </a>
                </li>
                <li class="active">
                    <a href="newOrder.html">
                        <span class="navIcon"><ion-icon name="add-outline"></ion-icon></span>
                        <span class="navTitle"> নতুন অর্ডার </span>
                    </a>
                </li>
                <li>
                    <a href="orderList.html">
                        <span class="navIcon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="navTitle"> অর্ডার লিস্ট </span>
                    </a>
                </li>
                <li>
                    <a href="bulkOrder.html">
                        <span class="navIcon"><ion-icon name="document-text-outline"></ion-icon></span>
                        <span class="navTitle"> বাল্ক অর্ডার  </span>
                    </a>
                </li>
                <!-- <li class="parent">
                    <a href="#">
                        <span class="navIcon"><ion-icon name="square-sharp"></ion-icon></span>
                        <span class="navTitle">Tables</span>
                    </a>
                    <ion-icon name="caret-down-outline"></ion-icon>
                </li> -->
                <li>
                    <a href="serviceCharge.html">
                        <span class="navIcon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="navTitle"> সার্ভিসের চার্জ </span>
                    </a>
                </li>
                <li>
                    <a href="codCollection.html">
                        <span class="navIcon"><ion-icon name="wallet-outline"></ion-icon></span>
                        <span class="navTitle"> COD কালেকশন </span>
                    </a>
                </li>
                <li>
                    <a href="billPay.html">
                        <span class="navIcon"><ion-icon name="bookmark-outline"></ion-icon></span>
                        <span class="navTitle"> বিল পে </span>
                    </a>
                </li>
                <li>
                    <a href="paymentStatement.html">
                        <span class="navIcon"><ion-icon name="receipt-outline"></ion-icon></span>
                        <span class="navTitle"> পেমেন্ট স্টেটমেন্ট </span>
                    </a>
                </li>
                <li>
                    <a href="orderTracking.html">
                        <span class="navIcon"><ion-icon name="analytics-outline"></ion-icon></span>
                        <span class="navTitle"> অর্ডার ট্র্যাকিং </span>
                    </a>
                </li>
                <li>
                    <a href="shipmentCharge.html">
                        <span class="navIcon"><ion-icon name="pricetag-outline"></ion-icon></span>
                        <span class="navTitle"> শিপমেন্ট চার্জ </span>
                    </a>
                </li>
                <li>
                    <a href="complain.html">
                        <span class="navIcon"><ion-icon name="alert-circle-outline"></ion-icon></span>
                        <span class="navTitle"> কমপ্লেইন </span>
                    </a>
                </li>
                <li>
                    <a href="marchantFeedback.html">
                        <span class="navIcon"><ion-icon name="megaphone-outline"></ion-icon></span>
                        <span class="navTitle"> মার্চেন্ট ফিডব্যাক </span>
                    </a>
                </li>
                <li>
                    <a href="reffer.html">
                        <span class="navIcon"><ion-icon name="code-download-outline"></ion-icon></span>
                        <span class="navTitle"> রেফার করুন </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End sidebar -->



        <main>
            <!-- Start topbar -->
            <div class="topbar">
                <!-- Start toggle and search -->
                <div class="topbarLeft">
                    <div class="toggle" onclick="toggleMenu()"><ion-icon name="list-circle"></ion-icon></div>
                    <div class="search">
                        <form action="#" method="POST">
                            <input type="search" placeholder="Search ...">
                            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                        </form>
                    </div>
                </div>
                <!-- End toggle and search -->

                <div class="topbarright">
                    <div class="message">
                        <a href="#"><ion-icon name="chatbox-ellipses-sharp"></ion-icon></a>
                        <div class="messageDropdown">
                            <a href="#">Message goes from here</a>
                            <a href="#">Message goes from here</a>
                            <a href="#">Message goes from here</a>
                            <a href="#">Message goes from here</a>
                        </div>
                    </div>
                    <div class="notification">
                        <a href="#"><ion-icon name="notifications-sharp"></ion-icon></a>
                        <div class="notiDropdown">
                            <a href="#">Notification goes from here</a>
                            <a href="#">Notification goes from here</a>
                            <a href="#">Notification goes from here</a>
                            <a href="#">Notification goes from here</a>
                        </div>
                    </div>
                    <div class="userInfo">
                        <a href="#"><img src="/img/user/user1.jpg" alt=""></a>
                        <div class="userDropdown">
                            <a href="#">Profile</a>
                            <a href="#">Settings</a>
                            <span class="divider"></span>
                            <a href="#">logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End topbar -->

            <!-- Page title -->
            <div class="pageTitle">
                <h3>নতুন অর্ডার</h3>
                <div class="customBreadcumb">
                    <a href="index.html">ড্যাশবোর্ড</a> /
                    <a class="active">নতুন অর্ডার</a>
                </div>
            </div>
            <div class="pageMainWrapper">
            <!-- ----------------------------------------------------- -->
            <!-- ----------- Main content start from here ------------ -->
            <!-- ----------------------------------------------------- -->
            <div class="container-fluid mb-4">
                <form action="#" method="POST" class="addOrder">
                    <div class="card">
                        <div class="card-header"> <h4 class="orderTitle">কাস্টমারের তথ্য</h4> </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-4 mb-3">
                                    <label for="cName" class="form-label">কাস্টমারের নাম</label>
                                    <input type="text" class="form-control" id="cName">
                                </div>
                                <div class="col-sm-12 col-md-4 mb-3">
                                    <label for="cMobile" class="form-label">মোবাইল নম্বর</label>
                                    <input type="number" class="form-control" id="cMobile">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="altCustomerNumber" class="form-label">বিকল্প মোবাইল নম্বর</label>
                                    <input type="number" class="form-control" id="altCustomerNumber">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-4 mb-3">
                                    <label for="insDistrict" class="form-label">জেলা নির্বাচন করুন</label>
                                    <select id="insDistrict" class="form-select">
                                        <option>ময়মনসিংহ</option>
                                        <option> জামালপুর </option>
                                        <option> শেরপুর </option>
                                        <option> নেত্রকোনা </option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4 mb-3">
                                    <label for="insDistrict" class="form-label"> থানা নির্বাচন করুন </label>
                                    <select id="insDistrict" class="form-select">
                                        <option> ত্রিশাল </option>
                                        <option> ময়ননসিংহ সদর </option>
                                        <option> ভালুকা </option>
                                        <option> হালুয়াঘাট </option>
                                        <option> ফুলবাড়িয়া </option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="insDistrict" class="form-label"> ইউনিয়ন নির্বাচন করুন </label>
                                    <select id="insDistrict" class="form-select">
                                        <option> মঠবাড়ী </option>
                                        <option> বইলর </option>
                                        <option> ধানিখোলা </option>
                                        <option> সাখুয়া </option>
                                        <option> আমিরাবাদ </option>
                                        <option> মুক্ষ্যপুর </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="address" class="form-label">বিস্তারিত ঠিকানা (বাড়ি/রোড/গ্রাম/হোল্ডিং)</label>
                                    <textarea class="form-control" id="address" rows="1"></textarea>
                                </div>
                            </div>





                            <h4 class="orderTitle mt-5"> প্যাকেজ ও কালেকশনের তথ্য </h4>
                            <div class="row my-3">
                                <div class="col-sm-12 col-md-6 mb-3">
                                    <label for="refNumber" class="form-label">নিজস্ব রেফারেন্স নম্বর / ইনভয়েস</label>
                                    <input type="text" class="form-control" id="refNumber">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="accuratePrice" class="form-label">অ্যাকচুয়াল প্যাকেজ প্রাইস</label>
                                    <input type="text" class="form-control" id="accuratePrice">
                                </div>
                            </div>
                            <div class="productCollection mb-3" style="padding-bottom: 3px;">
                                <div class="row mb-3">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="onlyDelivery">
                                            <label class="form-check-label" for="onlyDelivery"> শুধু ডেলিভারি </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="deliveryMoney">
                                            <label class="form-check-label" for="deliveryMoney"> ডেলিভারি + টাকা কালেকশন </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="brokenProduct">
                                            <label class="form-check-label" for="brokenProduct"> ভঙ্গুর/তরল প্রোডাক্ট </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label for="locationCollection" class="form-label">কালেকশন লোকেশন</label>
                                            <select id="locationCollection" class="form-select">
                                                <option>সদরঘাট</option>
                                              <option>কোতয়ালী</option>
                                            </select>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label for="weightKG" class="form-label">ওজন (কেজি)</label>
                                            <select id="weightKG" class="form-select">
                                              <option>১ কেজি</option>
                                              <option>২ কেজি</option>
                                            </select>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="productCollection">
                                <div class="row">
                                    <span> প্রোডাক্ট কবে কালেকশন হবে </span>
                                    <div class="col-sm-12 col-md-4">
                                        <button> আজ </button>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <button> কাল </button>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <input class="form-control" type="date" id="formFile" placeholder="তারিখ নির্বাচন করুন">
                                    </div>
                                </div>
                            </div>
                            <div class="productCollection mt-3">
                                <div class="row">
                                    <span> কখন কালেকশন হবে </span>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="morning" id="morning1">
                                            <label class="form-check-label" for="morning1"> সকাল (10:00 - 04:00 ) </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="morning" id="morning2">
                                            <label class="form-check-label" for="morning2"> বিকাল (04:00 - 09:00 ) </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="additionalNote" class="form-label">এডিশনাল নোট (অপশনাল)</label>
                                    <textarea class="form-control" id="additionalNote" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                        <label class="form-check-label" for="invalidCheck"> আমি শর্তাবলী মেনে নিলাম </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button class="orderDin" type="submit"> অর্ডার দিন </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>














            <!-- ----------------------------------------------------- -->
            <!-- ---------------- End Main Content ------------------- -->
            <!-- ----------------------------------------------------- -->
            </div>
        </main>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="js/script.js"></script>
</body>
</html>