{% extends 'merchant_dashboard/dash_base.html' %} 
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}

            <!-- Page title -->
            <div class="pageTitle">
                <h3> অর্ডার লিস্ট </h3>
                <div class="customBreadcumb">
                    <a href="index.html"> ড্যাশবোর্ড </a> /
                    <a class="active"> অর্ডার লিস্ট </a>
                </div>
            </div>
            <div class="pageMainWrapper">
            <!-- ----------------------------------------------------- -->
            <!-- ----------- Main content start from here ------------ -->
            <!-- ----------------------------------------------------- -->
            <div class="container-fluid mb-4">
                <div class="card orderList">
                    <div class="card-header"> <h4 class="orderTitle"> অর্ডার লিস্ট </h4> </div>
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="col-md-3">
                                <label for="fromDate" class="form-label"> From Date </label>
                                <input type="date" name="fromDate" class="form-control" id="fromDate">
                            </div>
                            <div class="col-md-3">
                                <label for="toDate" class="form-label"> To Date </label>
                                <input type="date" name="toDate" class="form-control" id="toDate">
                            </div>
                            <div class="col-md-3">
                                <label for="inputState" class="form-label"> সিলেক্ট স্ট্যাটাস </label>
                                <select id="inputState" class="form-select">
                                <option selected> অর্ডার প্লেস করা হয়েছে  </option>
                                <option> কাস্টমারকে খুঁজে পাওয়া যাচ্ছে না </option>
                                <option> পার্সেলটি সর্টিং এ আছে </option>
                                <option> পেমেন্ট বুঝিয়ে দেওয়া হয়েছে </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="searchBtn"><ion-icon name="search-outline"></ion-icon> অনুসন্ধান</button>
                            </div>
                        </form>
                        <div class="table-responsive mt-4">
                            <table class="table" style="min-width: 1000px;">
                                <thead>
                                    <tr>
                                        <th scope="col"> ক্রমিক নং </th>
                                        <th scope="col"> অর্ডারের তারিখ </th>
                                        <th scope="col"> অর্ডার আইডি </th>
                                        <th scope="col"> কাস্টমারের আইডি </th>
                                        <th scope="col"> প্যাকজের তথ্য </th>
                                        <th scope="col"> কালেকশনের পরিমান </th>
                                        <th scope="col"> মোট সার্ভিস চার্জ </th>
                                        <th scope="col"> স্ট্যাটাস </th>
                                        <th scope="col" class="text-end"> তথ্য পরিবর্তন </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for list in order %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td> {{list.created}} </td>
                                        <td> {{list.order_id}}</td>
                                        <td> {{list.merchant_info}} </td>
                                        <td> {{list.status}} </td>
                                        <td> {{list.weight}} </td>
                                        <td> {{list.service_charge}} </td>
                                        <td> {{list.status}} </td>
                                        <td class="text-end">
                                            <a title="View" class="viewBtn" href="#"><ion-icon name="eye"></ion-icon></a>
                                            <a title="Edit" class="editBtn" href="#"><ion-icon name="create-outline"></ion-icon></a>
                                            <a title="Delete" class="deleteBtn" href="#"><ion-icon name="trash-outline"></ion-icon></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    
                                    
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>









{% endblock %}