{% extends 'merchant_dashboard/dash_base.html' %} 
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}

            <!-- Page title -->
            <div class="pageTitle">
                <h3> অর্ডার লিস্ট (23) </h3>
                
            </div>
            <div class="pageMainWrapper">
            <!-- ----------------------------------------------------- -->
            <!-- ----------- Main content start from here ------------ -->
            <!-- ----------------------------------------------------- -->
            <div class="container-fluid mb-4">
                <div class="card orderList">
                    
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="col-md-3">
                                <label for="fromDate" class="form-label"> অর্ডার আইডি/মোবাইল/রেফার নং </label>
                                <input type="text" name="fromDate" class="form-control" id="fromDate">
                            </div>
                            <!-- <div class="col-md-3">
                                <label for="toDate" class="form-label">  </label>
                                <input type="text" name="toDate" class="form-control" id="toDate">
                            </div> -->
                            <div class="col-md-3">
                                <label for="inputState" class="form-label"> সিলেক্ট স্ট্যাটাস </label>
                                <select id="inputState" class="form-select">
                                <option selected> অর্ডার প্লেস করা হয়েছে  </option>
                                <option> কাস্টমারকে খুঁজে পাওয়া যাচ্ছে না </option>
                                <option> পার্সেলটি সর্টিং এ আছে </option>
                                <option> পেমেন্ট বুঝিয়ে দেওয়া হয়েছে </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="searchBtn"><ion-icon name="search-outline"></ion-icon> অনুসন্ধান</button>
                            </div>
                        </form>
                        <div class="table-responsive mt-4">
                            <table class="table" style="min-width: 971px;">
                                <thead>
                                    <tr>
                                        
                                        <th scope="col"> তারিখ </th>
                                        <th scope="col"> আইডি </th>
                                        <th scope="col"> মার্চেন্ট রেফার </th>
                                        <th scope="col"> প্যাকজের তথ্য </th>
                                        <th scope="col"> কালেকশন এমাউন্ট </th>
                                        <th scope="col"> সার্ভিস চার্জ </th>
                                        <th scope="col"> স্ট্যাটাস </th>
                                        <th scope="col" class="text-end">কাস্টমারের তথ্য </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for list in order %}
                                    <tr>
                                        
                                        <td> {{list.created|date:"d-M-Y"}}<br>{{list.created|date:"g:i A"}} </td>
                                        <td> {{list.order_id}}</td>
                                        <td> 
                                            {{list.reference_no}}

                                         </td>
                                        <td>{{list.packegeType}} </td>
                                        <td> {{list.collection_amount}} </td>
                                        <td> {{list.total_service_charge}} </td>
                                        <td> {{list.status}} </td>
                                        <td class="text-end">
                                            
                                            <a title="Edit" class="editBtn" href="#"><ion-icon name="create-outline"></ion-icon></a>
                                            <a title="Cancel" class="deleteBtn" href="#">Cancel</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    
                                    
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>









{% endblock %}