{% extends 'merchant_dashboard/dash_base.html' %} 
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}

            <!-- Page title -->
            <div class="pageTitle">
                <h3> সার্ভিসের চার্জ </h3>
                <div class="customBreadcumb">
                    <a href="index.html"> ড্যাশবোর্ড </a> /
                    <a class="active"> সার্ভিসের চার্জ </a>
                </div>
            </div>
            <div class="pageMainWrapper">
            <!-- ----------------------------------------------------- -->
            <!-- ----------- Main content start from here ------------ -->
            <!-- ----------------------------------------------------- -->
            <div class="container-fluid mb-4">
                <div class="card serviceCharge">
                    <div class="card-header"> <h4 class="orderTitle"> সার্ভিসের চার্জ </h4> </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" style="min-width: 1000px;">
                                <thead>
                                    <tr>
                                        <th scope="col"> ক্রমিক নং </th>
                                        <th scope="col"> অর্ডার ইনফো </th>
                                        <th scope="col"> শিপমেন্ট চার্জ </th>
                                        <th scope="col"> COD চার্জ </th>
                                        <th scope="col"> ভঙ্গুর আইটেমের চার্জ </th>
                                        <th scope="col"> কালেকশন চার্জ </th>
                                        <th scope="col"> রিটার্ন চার্জ </th>
                                        <th scope="col"> মোট সার্ভিস চার্জ </th>
                                        <th scope="col"> পেমেন্ট স্ট্যাটাস </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for list in order %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td> {{list.order_id}} ({{list.customer_name}})</td>
                                        <td> {{list.shipment_charge}}</td>
                                        <td> {{list.cod_charge}} </td>
                                        <td> {{list.lequed_or_Fragile_charge}} </td>
                                        <td> {{list.collection_amount}} </td>
                                        <td> {{list.total_service_charge}} </td>
                                        <td> {{list.total_service_charge}} </td>
                                        <td> {{list.total_service_charge}} </td>
                                        
                                    </tr>
                                {% endfor %}
                                    
                                </tbody>
                              </table>
                        </div>
                        <div aria-label="Page navigation example" class="customPagination">
                            <ul class="pagination mb-0">
                              <li class="page-item"><a class="page-link" href="#"> <ion-icon name="chevron-back-outline"></ion-icon> </a></li>
                              <li class="page-item"><a class="page-link active" href="#"> ১ </a></li>
                              <li class="page-item"><a class="page-link" href="#"> ২ </a></li>
                              <li class="page-item"><a class="page-link" href="#"> ৩ </a></li>
                              <li class="page-item"><a class="page-link" href="#"> <ion-icon name="chevron-forward-outline"></ion-icon> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>









{% endblock %}